<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Забронировать отель онлайн</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="image/png" rel="icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    <div id="headline">
         <div class="menu_group">
            <a href="{% url 'home' %}">
            <div class = form_part> <h1 class="menu_title">Главная</h1> </div></a>
            <a href="{% url 'collections' %}">
            <div class = form_part> <h1 class="menu_title">Коллекции</h1> </div></a>
            <!-- <a href="{% url 'home' %}"> -->
            <!-- <img class = logo src="{% static 'img/logo.png' %}" width=100%>        </a> -->
        </div>       
        <div id="logo">
            <a href="{% url 'home' %}">
            <img class = logo src="{% static 'img/logo.png' %}" width=100%>        </a>
        </div>

    </div>

    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>